$fw-200: 200;
$fw-400: 400;
$fw-600: 600;

$ff-sans: "Public Sans", sans-serif;

$fs-sm: clamp(0.8125rem, 0.7768rem + 0.1786vw, 0.9375rem);
$fs-base: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
$fs-lg: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
$fs-xl: clamp(1.75rem, 1.6786rem + 0.3571vw, 2rem);
$fs-2xl: clamp(2.5rem, 2.3571rem + 0.7143vw, 3rem);

$clr-neutral-900: rgb(33, 37, 41);
$clr-neutral-800: rgb(52, 58, 64);
$clr-neutral-700: rgb(73, 80, 87);
$clr-neutral-600: rgb(108, 117, 125);
$clr-neutral-500: rgb(173, 181, 189);
$clr-neutral-400: rgb(206, 212, 218);
$clr-neutral-300: rgb(222, 226, 230);
$clr-neutral-200: rgb(233, 236, 239);
$clr-neutral-100: rgb(248, 249, 250);

$clr-accent: rgb(230, 57, 70);
